@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    @apply h-full;
  }
  body {
    @apply bg-[#ECEEF6] text-text font-sans antialiased;
    -webkit-tap-highlight-color: transparent;
  }
  /* iOS safe area */
  body {
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
